body {
  background-color: #f0f0f0;
}

/* .headline {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
} */

/*  .section img {
  max-width: 100px;
} */

/* .section p {
  font-size: 12px;
}

.button-div {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.button-div button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.logout-button {
  text-align: center;
  margin-top: 20px;
}
*/
/* button a {
  background-color: #9a9a9a
} */
